*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.left{
    position: relative;
    width: 50%;
    float: left;
    height: 100%;
    background: linear-gradient(to right,#092b2c,#105e48,#0f684c,#105e48,#092b2c);
}

.right{
    position: relative;
    width: 50%;
    float: left;
    height: 100%;
}

img{
    height: 26%;
    width: 26%;
    margin-left: 37%;
}

.boxR{
    position: relative;
    width: 380px;
    height: 600px;
    background: #092b2c;
    border-radius: 8px;
    overflow: hidden;
    margin:auto;
    margin-top: 30px;
}

.boxR::before{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 600px;
    background: linear-gradient(0deg,transparent,#17a074,#17a074);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}

.boxR::after{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 600px;
    background: linear-gradient(0deg,transparent,#17a074,#17a074);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}

@keyframes animate{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}

.formBox{
    position: absolute;
    inset: 2px;
    border-radius: 9px;
    background: #005556;
    z-index: 10;
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
}

.formBox h2{
    color: #17a074;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;
    
}

.inputBox{
    position: relative;
    width: 300px;
    margin-top: 35px;
}

.inputBox input{
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    border: none;
    outline: none;
    color: #23242a;
    font-size: 1em;
    letter-spacing: 0.05em;
    z-index: 10;
}

.inputBox span{
    position: absolute;
    left: 0;
    padding: 20px 0px 10px;
    font-size: 1em;
    color: #8f8f8f;
    pointer-events: none;
    letter-spacing: 0.05em;
    transition: 0.5s;
}

.inputBox input:valid ~ span,
.inputBox input:focus ~ span
{
    color: #17a074;
    transform: translateY(-34px);
    font-size: 0.75em;
}

.inputBox i{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #17a074;
    border-radius: 4px;
    transition: 0.5s;
    pointer-events: none;
}

.inputBox input:valid ~ i,
.inputBox input:focus ~ i{
    height: 44px;
}

.link{
    padding-top: 10px;
}

.link a{
    margin: 10px 0;
    font-size: 0.75em;
    color: #8f8f8f;
}

.link a:hover{
    color: #fd9134;
}

input[id="RegisterButton"]{
    border: none;
    outline: none;
    background: #fd9134;
    padding: 11px 25px;
    width: 100%;
    margin-top: 15px;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
}

